<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="sanity">


    <listeners>


        <listener class-name="com.ECO.qa.util.TestUtil">


        </listener>


    </listeners>

    <test name="regression">

        <classes>

            <class name="com.ECO.qa.testcases.BookInspectionPageTest"></class>

        </classes>

    </test>

</suite>